.FaqBody {
    display: flex;
    flex-direction: column;
    align-items: center;

    & div{

        & h3 {
            color: rgb(83, 113, 132);
            text-align: center;
        }
    }
}

.question {
    //text-align: center;

}

.Title {
    text-align: center;
    padding-bottom: 45px;
    padding-top: 45px;

    & h3 {
        color: rgb(83, 113, 132);
        font-size: 27px;

    }
}
